{% for blog in blogpost_list %}
	<div class="single-post">
		<h2 class="post-title">{{ blog.title }}</h2>
		
		{% if blog.image %}
			<img class="post-pic" src="{{ blog.image.url }}">
		{% endif %}
		
		<p class="post-body more-top-margin">{{ blog.post_body }}</p>
		<p class="message-hint post-meta">{{ blog.author }}</p>
		<p class="message-hint post-meta">{{ blog.post_date }}</p>
		{% if request.user.is_authenticated and request.user == blogpost.author or request.user.userprofile.user_level == 'admin' or request.user.userprofile.user_level == 'moderator' %}
			<a class="link right-margin" href="{% url 'blog:edit_blogpost' blog.id %}">Edit Post</a>
			<a class="link right-margin" href="{% url 'blog:delete_blogpost' blog.id %}">Delete Post</a>
		{% endif %}
	</div>
{% endfor %}