<footer class="text-light" style="background-color: #434e6e;">
	<div class="container-fluid">
		<div class="row pt-5 pb-5 pl-5 pr-5">
			<div class="col-md-4">
				<h2>Welcome to Evverest</h2>
				<p>Evverest is a place for developers and designers to connect, ask questions, and share work with your peers.</p>
			</div>
			<div class="col-md-4">
				<h2 class="mb-3">General Info</h2>
				<ul class="nav d-block">
					<li class="nav-item">
						<a class="text-light" href="/pages/about/">About</a>
					</li>
					<li class="nav-item">
						<a class="text-light" href="/pages/contact/">Contact</a>
					</li>
					<li class="nav-item">
						<a class="text-light" href="/pages/faq/">FAQ</a>
					</li>
					<li class="nav-item">
						<a class="text-light" href="/pages/guidelines/">Guidelines</a>
					</li>
					<li class="nav-item">
						<a class="text-light" href="/pages/privacy/">Privacy Policy</a>
					</li>
					<li class="nav-item">
						<a class="text-light" href="/pages/terms/">Terms of Use</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h2 class="mb-3">Follow Evverest</h2>
				<img class="" src="/static/images/facebook.png" alt="facebook" width="64" height="64" />
				<img class="" src="/static/images/twitter.png" alt="twitter" width="64" height="64" />
				<img class="" src="/static/images/youtube.png" alt="youtube" width="64" height="64" />
			</div>
		</div>
	</div>
</footer>