<div class="widget mb-5">
	<h2 class="mb-3">General Info</h2>
	<ul class="nav d-block">
		<li class="nav-item">
			<a class="" href="/pages/about/">About</a>
		</li>
		<li class="nav-item">
			<a class="" href="/pages/contact/">Contact</a>
		</li>
		<li class="nav-item">
			<a class="" href="/pages/faq/">FAQ</a>
		</li>
		<li class="nav-item">
			<a class="" href="/pages/guidelines/">Guidelines</a>
		</li>
		<li class="nav-item">
			<a class="" href="/pages/privacy/">Privacy Policy</a>
		</li>
		<li class="nav-item">
			<a class="" href="/pages/terms/">Terms of Use</a>
		</li>
	</ul>
</div>