{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<div class="col-md-9 pt-5 pb-5 pl-5 pr-4" style="background-color: #f8f8f8;">
			<h2 class="mb-4">Frequently Asked Questions</h2>
			<p>
				<h4>Basic Questions</h4>
				
				<b>What is Evverest?</b><br><br>
				Evverest is an online community for designers and developers.<br><br>
				
				<b>What is in it for me?</b><br><br>
				In Evverest, you can: connect with designers and developers, receive feedback on what you are working on, as well as ask questions about  design and development related topics.<br><br>
				
				<b>What does making a post “public” mean?</b><br><br>
				Making a post public means that all members in the Evverest community can see your post.<br><br>
				
				<b>I have an idea for Evverest. What should I do?</b><br><br>
				We would love to hear any ideas you may have for us. Shoot us an email at hello@Evverest.com<br><br>
				
				<b>How can I get the most out of my membership?</b><br><br>
				Evverest was created to be a community for designers and developers and has many highly talented members. Some good ways to make the best of your membership are to make good, quality posts that engage others (perhaps share something you are working, or ask a question you have), and help others by commenting on their posts.<br><br>
				
				<b>Who is Evverest for?</b><br><br>
				Evverest was created to give designers and developers a place to interact with each other. Part of the beauty of Evverest is that its members come from all different walks of life, varying in age and experience level, yet share one common thing: they have a passion for creating sites and/or apps.<br><br>
				 
				<h4>Ranks</h4>
				<b>What are ranks?</b><br><br>
				Ranks are a way of showing which members are most active within the community.<br><br>
				
				<b>How do I increase my rank?</b><br><br>
				You can increase you rank by following the community guidelines, as well as being a good, active community member.<br><br>
				
				<b>Can I lose my ranking, too?</b><br><br>
				You can, indeed, lose your ranking. However, this only happens if you do things that are against the community guidelines.<br><br>
				
				<b>Is there a Leaderboard?</b><br><br>
				Yes, the leaderboard is displayed through a widget located on the home page when you are logged in.<br><br>
				
				<b>How is this scored?</b><br><br>
				Here is the breakdown for how you can earn, and lose points within Evverest:<br><br>
				
				+10 for becoming a member<br>
				+3 for receiving a comment on your post<br>
				+2 for commenting on a post<br>
				+1 for receiving a like on your post<br>
				-1 for making posts<br>
				-2 if your comment is deleted from a post<br>
				-5 if your post is deleted<br><br>
				
				You’ll notice that you spend one point every time you create a post. This is because we don’t want members flooding Evverest with posts just to increase their ranking.<br><br>
				 
				<h4>Anything Else?</h4>
				<b>You didn’t answer my question, what should I do?</b><br><br>
				Not to worry, shoot us an email at hello@Evverest.com
			</p>
		</div>
		<div class="col-md-3 pt-5 pb-5 pl-4 pr-5" style="background-color: #f8f8f8;">
			{% include 'info_sidebar.html' %}
		</div>
	</div>
{% endblock %}